@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    padding: 2rem;
}

.menu {
    position: fixed;
    z-index: 1000;
    width: 150px;
    background: #1b1a1a;
    border-radius: 5px;
    display: none;
    list-style: none;
}

.menu.open {
    display: block;
}

.menu .menu-item {
    padding: 8px 10px;
    font-size: 1rem;
    color: #eee;
    cursor: pointer;
    border-radius: inherit;
}

.menu .menu-item:hover {
    background: #343434;
}

/* Блок аналитики кликов */
.click-info {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #1b1a1a;
    color: #fff;
    padding: 10px 20px;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    z-index: 1001;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.spark {
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transition: transform 1s ease-out, opacity 1s ease-out;
  will-change: transform, opacity;
  mix-blend-mode: screen;
  opacity: 1;
  filter: blur(1px);
}

